<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StreakTrack</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        margin: 0;
        padding: 0;
        background-color: #f3f4f6;
      }
      .active-route {
        padding: 0 15px;
        color: black;
        border-top: 2px solid black;
        background-color: #f3f4f6;
      }
    </style>
</head>
<body>
  <% if(footer){ %>
    <div class="w-full h-auto flex flex-col sm:flex-row items-center justify-between px-10 py-6">
      <div class="h-20 w-20 overflow-hidden">
        <img class="h-full object-cover" src="/images/satipg.png" alt="">
      </div>
      <div class="text-center">
          <div class="text-lg font-semibold">SAMRAT ASHOK TECHNOLOGICAL INSTITUTE, VIDISHA (M.P.)</div>
          <div class="text-sm text-gray-500">(An Autonomous Institute Affiliated to RGPV Bhopal)</div>
          <div class="text-lg font-semibold">Minor Project</div>
          <div class="text-lg font-semibold">Attendence Tracking Face Detection System</div>
          <div class="text-lg font-semibold">B.tech VI-Sem Electronics and Communication Engineering</div>
      </div>
      <div class="h-20 w-20 hidden sm:inline overflow-hidden">
        <img class="h-full object-cover" src="/images/StreakTrackLogo.png" alt="">
      </div>
    </div>
    <div class="flex justify-between items-center w-full px-6 sm:px-20 bg-zinc-900 text-white">
      <a href="/dashboard" class="flex items-center <%= currentRoute === '/dashboard' ? 'active-route' : '' %>">
        <i class="text-[1.4rem] ri-home-fill"></i>
        <span class="hidden sm:inline ml-2">Dashboard</span>
      </a>
      <a href="/facultydashboard" class="flex items-center <%= currentRoute === '/facultydashboard' ? 'active-route' : '' %>">
        <i class="text-[1.4rem] ri-home-line"></i>
        <span class="hidden sm:inline ml-2">Editable Dashboard</span>
      </a>
      <a href="/attendance" class="flex items-center <%= currentRoute === '/attendance' ? 'active-route' : '' %>">
        <i class="text-[1.4rem] ri-video-add-line"></i>
        <span class="hidden sm:inline ml-2">Take Attendance</span>
      </a>
      <a href="/registerstudent" class="flex items-center <%= currentRoute === '/registerstudent' ? 'active-route' : '' %>">
        <i class="text-[1.4rem] ri-add-box-line"></i>
        <span class="hidden sm:inline ml-2">Register Student</span>
      </a>
      <a href="/logout" class="flex items-center <%= currentRoute === '/logout' ? 'active-route' : '' %>">
        <i class="text-[1.4rem] ri-login-box-line"></i>
        <span class="hidden sm:inline ml-2">Faculty Logout</span>
      </a>
    </div>
  <% } %>
  
</body>
</html>