<% include ./partials/header.ejs %>

  <script src="/javascripts/face-api.min.js"></script>

  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    #video {
      height: auto;
      border: 2px solid #333;
    }

    canvas {
      position: absolute;
    }
    .student{
        display: none;
    }
    .message {
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translateX(-50%);
      background: rgba(0, 0, 0, 0.7);
      color: white;
      font-size: larger;
      padding: 10px 20px;
      border-radius: 5px;
      z-index: 10; 
      display: none; 
    }
    .Instraction {
      position: absolute;
      top: 6%;
      left: 50%;
      transform: translateX(-50%);
      background: rgba(0, 0, 0, 0.7);
      color: white;
      font-size: larger;
      padding: 10px 20px;
      border-radius: 5px;
      z-index: 10; 
      display: none; 
    }
    .error {
      position: absolute;
      top: 6%;
      left: 50%;
      transform: translateX(-50%);
      background: rgba(0, 0, 0, 0.7);
      color: rgb(255, 0, 0);
      font-size: larger;
      padding: 10px 20px;
      border-radius: 5px;
      z-index: 10; 
      display: none; 
    }

  </style>
  <% if (students.length === 0) { %>
    <div class="flex justify-center items-center h-64">
        <p class="text-xl text-gray-500">No students registered yet, Register Student First</p>
    </div>
  <% } else { %>
    <div class="error" id="error"></div>
    <div class="Instraction" id="Instraction">Please Wait</div> 
  
    <div class="flex justify-center items-center">
      <div class="bg-white mt-8 rounded-lg">
        <video id="video" autoplay muted></video>
        <div class="flex justify-center items-center mt-2">
          <!-- <button type="button" class="bg-blue-500 text-white px-4 py-2 rounded-md" onclick="stopVideo()">Stop</button> -->
          <a href="/dashboard">
            <button type="button" class="bg-blue-500 hover:bg-blue-900 text-white px-4 py-2 rounded-md">Back</button>
          </a>
        </div>
      </div>
    </div>
  
    <div class="message" id="message"></div> 

    <% students.forEach((student, index) => { %>
      <div class="student">
        <h3><%= index + 1 %>. <%= student.name %></h3>
        <h2><%= student.id %></h2>
        <p>Enrollment No: <%= student.enrollmentNo %></p>
        <div class="student-images">
          <% student.images.forEach((image) => { %>
            <img src="<%= image.imagePath %>" alt="Student Image">
          <% }); %>
        </div>
      </div>
    <% }); %>
    <script src="/javascripts/faceDetection.js"></script>
  <% } %>

<% include ./partials/footer.ejs %>